* https://www.sassymamasg.com/learn-special-needs-school-singapore-preschools-early-intervention-therapy-centres-international-schools/
* https://www.enablingguide.sg/im-looking-for-disability-support/education
* https://www.moe.gov.sg/special-educational-needs/sped-schools

In [1]:
from opencage.geocoder import OpenCageGeocode

In [2]:
import pandas as pd

In [3]:
from geopy.distance import geodesic

# Special Needs Schools and Institutions in Singapore

In [4]:
l1 = ['Melbourne Specialist International School',
    'Integrated International School',
     'ABC Center Singapore',
    'Dover Court International School',
     'Eden School',
     'Metta School',
    'Pathlight School Campus 1',
     'Pathlight School Campus 2 (Main)',
     'Pathlight School Campus 2 (Annex)',
     'Singapore American School',
     'St. Andrewâ€™s Autism School',
     'Towner Gardens School',
     'The Winstedt School'
    ]

In [5]:
# https://opencagedata.com/tutorials/geocode-in-python
key = 'd90187877b6444da88e3d0553e96498a'
geocoder = OpenCageGeocode(key)

def coordinates(l):
    lat,lon=[],[]
    for query in l:
        results = geocoder.geocode(query+", Singapore")
        lat.append(results[0]['geometry']['lat'])
        lon.append(results[0]['geometry']['lng'])
    return lat,lon

In [6]:
lat1, lon1 =coordinates(l1)
df1=pd.DataFrame(zip(l1,lat1,lon1),columns=['Name','Lat','Lon'])
df1.head()

                                        Name       Lat         Lon
0  Melbourne Specialist International School  1.289670  103.850070
1            Integrated International School  1.289670  103.850070
2                       ABC Center Singapore  1.297934  103.838405
3           Dover Court International School  1.305527  103.779664
4                                Eden School  1.351575  103.743059

# Special Needs Preschools in Singapore

In [7]:
l2 = ['Modern Montessori International Katong by The Growing Academy',
  'Bright Path Preschool',
  'Dyslexia Association of Singapore',
  'Genesis School for Special Education',
  'KidzRock International Preschool',
  'Mighty Oaks',
  'Nurture Pods',
  'Wee Care']

In [8]:
lat2, lon2 =coordinates(l2)
df2=pd.DataFrame(zip(l2,lat2,lon2),columns=['Name','Lat','Lon'])
df2.head()

                                                Name       Lat        Lon
0  Modern Montessori International Katong by The ...  1.289670  103.85007
1                              Bright Path Preschool  1.289670  103.85007
2                  Dyslexia Association of Singapore  1.348775  103.87399
3               Genesis School for Special Education  1.289670  103.85007
4                   KidzRock International Preschool  1.289670  103.85007

# Early Intervention Centres

In [9]:
l3 = ['The Growing Academy',
  'All Hands Together',
  'Bridge Learning',
  'The Early Intervention Centre (EIC)',
  'Kaleidoscope',
  'KidsFirst',
  'Thumbs Up Therapy Singapore'
  ]

In [10]:
lat3, lon3 =coordinates(l3)
df3=pd.DataFrame(zip(l3,lat3,lon3),columns=['Name','Lat','Lon'])
df3.head()

                                  Name       Lat         Lon
0                  The Growing Academy  1.289670  103.850070
1                   All Hands Together  1.302158  103.876711
2                      Bridge Learning  1.281908  103.821934
3  The Early Intervention Centre (EIC)  1.289670  103.850070
4                         Kaleidoscope  1.289670  103.850070

# Combine All

In [11]:
df = pd.concat([df1,df2,df3]).reset_index(drop=True)
df.head()

                                        Name       Lat         Lon
0  Melbourne Specialist International School  1.289670  103.850070
1            Integrated International School  1.289670  103.850070
2                       ABC Center Singapore  1.297934  103.838405
3           Dover Court International School  1.305527  103.779664
4                                Eden School  1.351575  103.743059

# Get User's Location

In [12]:
user = '21 Lower Kent Ridge Rd, Singapore 119077'
user = [user]
lat4, lon4 =coordinates(user)

In [13]:
lat4[0], lon4[0]

(1.28967, 103.85007)

# Get Distance

In [14]:
pt1 = (lat4[0], lon4[0])

l=[]
for i in range(df.shape[0]):
    lat2=df.iloc[i,-2]
    lng2=df.iloc[i,-1]
    pt2 = (lat2, lng2)
    l.append(geodesic(pt1, pt2).km)

In [15]:
df['Distance']=l

In [20]:
df.sort_values(by=['Distance']).reset_index(drop=True).iloc[:20:]

,Name,Lat,Lon,Distance
0,Melbourne Specialist International School,1.289670,103.850070,0.000000
1,Kaleidoscope,1.289670,103.850070,0.000000
2,The Early Intervention Centre (EIC),1.289670,103.850070,0.000000
3,The Growing Academy,1.289670,103.850070,0.000000
4,Wee Care,1.289670,103.850070,0.000000
5,Nurture Pods,1.289670,103.850070,0.000000
6,KidzRock International Preschool,1.289670,103.850070,0.000000
7,Genesis School for Special Education,1.289670,103.850070,0.000000
8,Bright Path Preschool,1.289670,103.850070,0.000000
9,KidsFirst,1.289670,103.850070,0.000000
10,Towner Gardens School,1.289670,103.850070,0.000000
11,Modern Montessori International Katong by The ...,1.289670,103.850070,0.000000
12,Pathlight School Campus 2 (Annex),1.289670,103.850070,0.000000
13,Pathlight School Campus 1,1.289670,103.850070,0.000000
14,Integrated International School,1.289670,103.850070,0.000000
15,Thumbs Up Therapy Singapore,1.289670,103.850070,0.000000
16,ABC Center Singapore,1.297934,103.838405,1.587531
17,The Winstedt School,1.310098,103.840729,2.486508
18,Mighty Oaks,1.315461,103.859011,3.020467
19,Bridge Learning,1.281908,103.821934,3.246754

This method using API is not able to find very accurate coordinates. Will have to try something else